# .gitignore for ASP.NET Core MVC project
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]uild/
[Bb]in/
[Oo]bj/
ScaffoldingReadMe.txt
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
mono_crash.*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.vscode/
*.dotnet_tool.json
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
.vscode/*.code-workspace
.nuget/
.vscode/extensions.json
wwwroot/
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
.vscode/*.code-workspace
*.tmp
*.temp
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/
*.log
Migrations/
*.mdf
*.ldf
*.sqlite
appsettings*.json
.idea/
.idea_modules/
.idea/workspace.xml
.idea/vcs.xml
.idea/*.iml
.idea/modules.xml
.idea/.rider_history/
.idea/shelf/
.DS_Store
Thumbs.db
