@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To my personal blog, hope you will enjoy the staying here</p></a>.</p>
</div>

